.header {
  height: 70px;
  width: 100%;
  color: white;
  background-color: #110F29;
  display: flex;
  align-items: center;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  border-bottom: 1px solid rgba(99, 102, 241, 0.2);
}

.navLink {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 100ms ease;
}

.navLink:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mobileNavLink {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  text-decoration: none;
  color: var(--mantine-color-text);
  font-weight: 500;
  transition: background-color 100ms ease;
}

.mobileNavLink:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.avatar {
  cursor: pointer;
  transition: transform 200ms ease;
}

.avatar:hover {
  transform: scale(1.05);
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    width: 100%;
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}