.title {
  color: var(--mantine-color-black);
  font-weight: 800;
  line-height: 1.05;
  max-width: 500px;
  font-size: 48px;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: 34px;
    line-height: 1.15;
  }
}

.titleContainer {
  max-width: var(--mantine-width-md);

  @media (max-width: $mantine-breakpoint-sm) {
    background: linear-gradient(135deg, rgba(255,255,255,0.95) 0%, rgba(240,240,245,0.9) 100%);
    padding: 15px;
  }
}