.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.content {
    flex-grow: 1;
    padding: var(--mantine-spacing-md);
    overflow-y: auto;
}

.navbar {
    width: 80px;
    height: 100vh;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
    flex: 1;
    margin-top: calc(var(--mantine-spacing-md) * 1.5);
}

.link {
    width: 50px;
    height: 50px;
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
    margin-bottom: var(--mantine-spacing-sm);

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }

    &[data-active] {
        &,
        &:hover {
            background-color: var(--mantine-color-violet-light);
            color: var(--mantine-color-violet-light-color);
        }
    }
}
